.announcement-bar
    .container.announcement-bar__container 
        .announcement-bar__wrapper 
            .announcement-bar__text Download the journal of an entire Surrogacy Journey <a href="#">here</a> 