section.why-us
    .container.why-us__container 
        .why-us__wrapper 
            .why-us-top 
                .why-us-top__wrapper 
                    .why-us-top-block 
                        .why-us-top-block__img 
                            img(src="./img/Symbol Backed By copy 1.png", alt="")
                        .why-us-top-block__text 
                            .why-us-top-block__title FOUNDED BY
                            .why-us-top-block__subtitle People who have been in your shoes
                    .why-us-top-block 
                        .why-us-top-block__img 
                            img(src="./img/Symbol Backed By copy 1.png", alt="")
                        .why-us-top-block__text 
                            .why-us-top-block__title BACKED BY
                            .why-us-top-block__subtitle Subject matter experts
                    .why-us-top-block 
                        .why-us-top-block__img 
                            img(src="./img/Symbol Backed By copy 1.png", alt="")
                        .why-us-top-block__text 
                            .why-us-top-block__title DESIGNED FOR
                            .why-us-top-block__subtitle Intended<br>parents

            .why-us-bottom
                .why-us-bottom__text 
                    h3.section__title Why Dandelion was born
                    .text 
                        p.section__paragraph Over the past decades, as medical technologies advanced, and ways were established for intended parents to protect their parental rights, surrogacy has become more possible for intended parents.
                        p.section__paragraph While surrogacy has become more accessible for intended parents, the process itself hasn’t.
                        p.section__paragraph Surrogacy agencies were created for administrative and clinical coordination of the surrogate, and specialist professionals got involved to deliver their siloed part in the process. All of this without someone overseeing all aspects of the journey while advocating directly for the intended parent.
                        p.section__paragraph So, we are transforming intended parent’s surrogacy experience by managing the entire journey with them, providing strategic and pro-active expertise throughout the process, and putting them front and centre of everything we do.
                .why-us-bottom__info 
                    .why-us-bottom-nums 
                        .why-us-bottom-nums__num 
                            h3 30
                                span +
                            h5 INDIVIDUALS 
                            p involved in<br>the process
                        .divider
                        .why-us-bottom-nums__num 
                            h3 95
                                span %
                                div Up to
                            h5 OF SURROGACY JOURNEYS
                            p face unexpected events
                    .why-us-bottom-grid

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.

                        .why-us-bottom-grid__card 
                            img(src="./img/Uterus.png", alt="")
                            .title Fertility Clinic
                            a.button__primary.button__primary-outlined.more-info-btn More info

                            .why-us-bottom-grid__card--tip.tip-modal
                                .close-button.close-btn
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                        <line x1="9.54594" y1="0.353553" x2="0.353548" y2="9.54594" stroke="#818181"/>
                                        <line x1="9.54586" y1="9.54594" x2="0.353473" y2="0.353547" stroke="#818181"/>
                                    </svg>
                                img.tip-modal__bg(src="./img/Uterus.png", alt="")
                                h5 Topics:
                                p medical records review, medical clearance including any medical interventions, fertility medication regiment and monitoring, embryo creation and transfer(s), embryo testing, post transfer medical care and monitoring until referral to obstetrician for the remainder of the pregnancy.