section.media-banner 
    .container.media-banner__container
        .media-banner__wrapper
            .media-banner__img 
                img(src="./img/StockCake-Joyful family moment_1726639610.jpg", alt="")

            .media-banner__text 
                h3.section__title Break down the barriers to building a family!
                p.section__paragraph Join us in our support of Resolve, the national infertility association, to break down the barriers to building a family, with our new Dandelion merchandise.
                a.button__secondary.button__secondary-white(href="")  Read more
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.75 0C7.82164 0 5.93657 0.568253 4.33319 1.6329C2.72982 2.69755 1.48013 4.21077 0.742179 5.98121C0.00422452 7.75165 -0.188858 9.6998 0.187348 11.5793C0.563554 13.4588 1.49215 15.1852 2.85571 16.5402C4.21928 17.8953 5.95656 18.8181 7.84787 19.1919C9.73919 19.5658 11.6996 19.3739 13.4812 18.6406C15.2627 17.9072 16.7855 16.6654 17.8568 15.072C18.9282 13.4786 19.5 11.6054 19.5 9.68905C19.4973 7.12019 18.4692 4.65731 16.6413 2.84085C14.8134 1.02439 12.335 0.00271277 9.75 0ZM9.75 17.8875C8.11831 17.8875 6.52326 17.4066 5.16655 16.5058C3.80984 15.6049 2.75242 14.3245 2.128 12.8265C1.50358 11.3284 1.3402 9.67995 1.65853 8.08962C1.97685 6.49928 2.76259 5.03846 3.91637 3.89189C5.07016 2.74532 6.54017 1.96449 8.14051 1.64815C9.74085 1.33182 11.3997 1.49417 12.9071 2.11469C14.4146 2.73521 15.7031 3.78602 16.6096 5.13425C17.5161 6.48247 18 8.06755 18 9.68905C17.9975 11.8626 17.1275 13.9465 15.5809 15.4835C14.0343 17.0205 11.9373 17.885 9.75 17.8875ZM14.0306 9.16174C14.1004 9.23096 14.1557 9.31316 14.1934 9.40364C14.2312 9.49412 14.2506 9.5911 14.2506 9.68905C14.2506 9.78699 14.2312 9.88398 14.1934 9.97446C14.1557 10.0649 14.1004 10.1471 14.0306 10.2164L11.0306 13.1976C10.8899 13.3375 10.699 13.416 10.5 13.416C10.301 13.416 10.1101 13.3375 9.96938 13.1976C9.82865 13.0578 9.74959 12.8681 9.74959 12.6703C9.74959 12.4725 9.82865 12.2828 9.96938 12.143L11.6897 10.4344H6C5.80109 10.4344 5.61033 10.3558 5.46967 10.2161C5.32902 10.0763 5.25 9.88672 5.25 9.68905C5.25 9.49138 5.32902 9.30181 5.46967 9.16203C5.61033 9.02226 5.80109 8.94374 6 8.94374H11.6897L9.96938 7.23511C9.82865 7.09526 9.74959 6.90558 9.74959 6.7078C9.74959 6.51002 9.82865 6.32035 9.96938 6.18049C10.1101 6.04064 10.301 5.96208 10.5 5.96208C10.699 5.96208 10.8899 6.04064 11.0306 6.18049L14.0306 9.16174Z" fill="white" />
                    </svg>
