section.media-banner-expertise 
    .container.media-banner-expertise__container 
        .media-banner-expertise__wrapper 
            .media-banner-expertise-search
                .media-banner-expertise-search__top 
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.00123 13.0025C3.68684 13.0025 0.999991 10.3156 0.999991 7.00124C0.999991 3.68685 3.68684 1 7.00123 1C10.3156 1 13.0025 3.68685 13.0025 7.00124C13.0025 10.3156 10.3156 13.0025 7.00123 13.0025Z" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.6683 15.6682L11.2418 11.2417" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    .media-banner-expertise-search__top--text how do you find a surrogate?
                    .media-banner-expertise-search__top--controls 
                        img(src="./img/Group 118.png", alt="")

                .media-banner-expertise-search__bottom 
                    ul.media-banner-expertise-search__bottom--list 
                        li 
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00123 13.0025C3.68684 13.0025 0.999991 10.3156 0.999991 7.00124C0.999991 3.68685 3.68684 1 7.00123 1C10.3156 1 13.0025 3.68685 13.0025 7.00124C13.0025 10.3156 10.3156 13.0025 7.00123 13.0025Z" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.6683 15.6682L11.2418 11.2417" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            p what are the end-to-end costs involved?
                        li 
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00123 13.0025C3.68684 13.0025 0.999991 10.3156 0.999991 7.00124C0.999991 3.68685 3.68684 1 7.00123 1C10.3156 1 13.0025 3.68685 13.0025 7.00124C13.0025 10.3156 10.3156 13.0025 7.00123 13.0025Z" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.6683 15.6682L11.2418 11.2417" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            p what paperwork is needed?
                        li 
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00123 13.0025C3.68684 13.0025 0.999991 10.3156 0.999991 7.00124C0.999991 3.68685 3.68684 1 7.00123 1C10.3156 1 13.0025 3.68685 13.0025 7.00124C13.0025 10.3156 10.3156 13.0025 7.00123 13.0025Z" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.6683 15.6682L11.2418 11.2417" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            p how do you communicate with a surrogate?
                        li 
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00123 13.0025C3.68684 13.0025 0.999991 10.3156 0.999991 7.00124C0.999991 3.68685 3.68684 1 7.00123 1C10.3156 1 13.0025 3.68685 13.0025 7.00124C13.0025 10.3156 10.3156 13.0025 7.00123 13.0025Z" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.6683 15.6682L11.2418 11.2417" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            p what is the process after the baby’s birth?
                        li
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00123 13.0025C3.68684 13.0025 0.999991 10.3156 0.999991 7.00124C0.999991 3.68685 3.68684 1 7.00123 1C10.3156 1 13.0025 3.68685 13.0025 7.00124C13.0025 10.3156 10.3156 13.0025 7.00123 13.0025Z" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.6683 15.6682L11.2418 11.2417" stroke="#CECECE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            p what third parties are involved in the process?


            .media-banner-expertise__info 
                h3 The <i>humanized</i> expertise you deserve
                p Most of us considering surrogacy start researching this very personal topic using the internet, looking for answers and guidance we can’t always easily get from the people around us. 
                p Whether you’re just starting to think about surrogacy, or are ready to start your journey, you deserve to know exactly what a surrogacy journey is all about. Finally, you can share your story with people who share the experience and have the expertise. 
                a.button__primary-black.button__primary Speak to our team

