section.cta-banner
    .cta-banner__bg 
        img(src="./img/image (2).jpg", alt="")
    .container.cta-banner__container
        .cta-banner__wrapper 
            .cta-banner__text Sign-up to our newsletter and get 50% off a 1-hour Coaching Session.
            .cta-banner__input 
                input(type="email", placeholder="Enter your email address", name="")
                button.button__primary.button__primary-outlined--white Send