section.our-story
    .container.our-story__container 
        .our-story__wrapper 
            h3.section__title Our Story

            .our-story__block 
                .our-story__block-wrapper 
                    .our-story-member  
                        .our-story-member__name Stefanie Bruinse
                        .our-story-member__job Director
                        .our-story-member__img 
                            img(src="./img/image (5).jpg", alt="")
                    .our-story-member  
                        .our-story-member__name Allie Manterfield
                        .our-story-member__job Director
                        .our-story-member__img 
                            img(src="./img/image (5).jpg", alt="")
                    .our-story-member  
                        .our-story-member__name Michiel Schrama
                        .our-story-member__job Director
                        .our-story-member__img 
                            img(src="./img/image (5).jpg", alt="")
section.our-story__bottom 
    .our-story__bottom__container 
        .our-story__bottom__wrapper 
            .our-story-text-block
                .our-story-text-block__title Who
                .our-story-text-block__subtitle We founded Dandelion as a team of three. As experts by experience we know the surrogacy process and its moving elements inside and out, and we’ve been where you are.
            .our-story-text-block
                .our-story-text-block__title Why
                .our-story-text-block__subtitle Going through our own surrogacy journeys, we found navigating the process for intended parents to be complex, discouraging and fragmented.
            .our-story-text-block
                .our-story-text-block__title How
                .our-story-text-block__subtitle We’re designing tailored surrogacy journey management programs to give intended parents worldwide the experience they deserve.

            
                    

