.stats {
    background: #f0f1f2;
    position: relative;

    padding: 52px 0 66px 0;

    @include adaptiveValue(padding-top, 52px, 38px, 1440px, 375px);
    @include adaptiveValue(padding-bottom, 100px, 44px, 1440px, 375px);
    
    overflow: hidden;
    z-index: 10;
    &__bg {
        
        &-desktop {
            position: absolute;
            right: 0;
            top: 0;
            opacity: .5;
            z-index: -1;
            @media (max-width:767px) {
                display: none;
            }
        }

        

        &-mobile {
            display: none;
            @media (max-width:767px) {
                margin-top: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__container {
        max-width: 1120px;
    }

    .section__title {
        max-width: 600px;
        margin-bottom: 24px;
    }
    .section__paragraph {
        max-width: 600px;
        margin-bottom: 1rem;
    }

    &__wrapper {

    }
    &__top {

    }
    &__bottom {

        margin-top: 42px;
        border-left: 1px solid #000;

        display: flex;
        flex-direction: column;
        gap: 42px;

        &--block {
            padding-left: 38px;
            width: fit-content;

            &-stats {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 40px;
                color: #2f2c2c;
                span {
                    
                    color: #f67f16;
                }

                margin-bottom: 22px;

                .text {
                    width: fit-content;
                }
            }
            p {
                font-family: var(--font-family);
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
                color: #000;

                margin-bottom: 8px;
                max-width: 400px;
            }
        }
    }
}