section.about-hero
    .container.about-hero__container 
        .about-hero__wrapper 
            picture.about-hero__img
                source(srcset="./img/Mother_lifting_baby_1_(2).jpg", media="(max-width: 767px)")
                img(src="./img/Mother lifting baby 1.jpg")

                
            .about-hero__title 
                h2 The surrogacy experience wasn’t designed to be easy for intended parents, so we made it our mission to change that.
