section.team
    .container.team__container 
        .team__wrapper 
            .team__top 
                h3.section__title Meet our industry specialists and <i>international</i> parents who have been in your shoes
                p.section__paragraph Looking for an introductory chat with one of us? We’d love to meet you, share best practices, initial directions, and answer your questions.
            .team__bottom 
                .team__cta 
                    h5 Speak with one of us
                    p.section__paragraph Chat with our team of experienced program directors, former surrogates and international intended parents, industry specialists and subject matter experts.
                    a.button__primary.button__primary-outlined--white Meet our team

                .team-slider 
                    .team-slider-button-next
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.63654 12.7857C6.9659 12.7857 6.42225 13.3294 6.42225 14C6.42225 14.6706 6.9659 15.2143 7.63654 15.2143L7.63654 12.7857ZM21.2224 14.8586C21.6966 14.3844 21.6966 13.6156 21.2224 13.1414L13.4948 5.4137C13.0206 4.9395 12.2517 4.9395 11.7775 5.4137C11.3033 5.88791 11.3033 6.65675 11.7775 7.13096L18.6465 14L11.7775 20.869C11.3033 21.3432 11.3033 22.1121 11.7775 22.5863C12.2517 23.0605 13.0206 23.0605 13.4948 22.5863L21.2224 14.8586ZM7.63654 15.2143L20.3638 15.2143L20.3638 12.7857L7.63654 12.7857L7.63654 15.2143Z" fill="white" fill-opacity="0.6" />
                            <circle cx="14" cy="14" r="12.7857" stroke="white" stroke-opacity="0.6" stroke-width="2.42857" />
                        </svg>
                    .team-slider-button-prev
                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.3635 15.2143C21.0341 15.2143 21.5777 14.6706 21.5777 14C21.5777 13.3294 21.0341 12.7857 20.3635 12.7857L20.3635 15.2143ZM6.77755 13.1414C6.30335 13.6156 6.30335 14.3844 6.77755 14.8586L14.5052 22.5863C14.9794 23.0605 15.7483 23.0605 16.2225 22.5863C16.6967 22.1121 16.6967 21.3432 16.2225 20.869L9.35344 14L16.2225 7.13096C16.6967 6.65675 16.6967 5.88791 16.2225 5.4137C15.7483 4.93949 14.9794 4.93949 14.5052 5.4137L6.77755 13.1414ZM20.3635 12.7857L7.63618 12.7857L7.63618 15.2143L20.3635 15.2143L20.3635 12.7857Z" fill="white" fill-opacity="0.6" />
                            <circle cx="14" cy="14" r="12.7857" transform="rotate(-180 14 14)" stroke="white" stroke-opacity="0.6" stroke-width="2.42857" />
                        </svg>

                    .swiper-wrapper 
                        .swiper-slide 
                            .team-slider__member 
                                img(src="./img/image.jpg", alt="")
                                .team-slider__member--name Allie Manterfield
                                    
                                .team-slider__member--job Program Director
                        .swiper-slide 
                            .team-slider__member 
                                img(src="./img/image.jpg", alt="")
                                .team-slider__member--name Allie Manterfield
                                    
                                .team-slider__member--job Program Director
                        .swiper-slide 
                            .team-slider__member 
                                img(src="./img/image.jpg", alt="")
                                .team-slider__member--name Allie Manterfield
                                    
                                .team-slider__member--job Program Director

