section.media-banner-nums
    picture.media-banner-nums__img
        source(srcset="./img/image_(4).jpg", media="(max-width: 990px)")
        img(src="./img/image (3).jpg")

    .container.media-banner-nums__container 
        .media-banner-nums__wrapper 

            .media-banner-nums__block 
                h5 350+ Journeys
                p have been managed by our team members



            .media-banner-nums__block--divider 
                .divider   



            .media-banner-nums__block 
                h5 Gestational & Donors
               



            .media-banner-nums__block--divider 
                .divider   



            .media-banner-nums__block 
                h5 5 Continents
                


