.divided-section-2 {
    &__container {
        padding: 0;
       
    }
    &__wrapper {
        display: flex;
       

        @media (max-width:1279px) {
            flex-direction: column-reverse;
        }
    }
    &__img {
        width: 50%;

        @media (max-width:1279px) {
            width: 100%;
        }

        @media (max-width:375px) {
            aspect-ratio: 3 / 4;
        }

        img {
            width: 100%;
            object-fit: cover;
            display: flex;

            @media (max-width:1279px) {
                max-height: 500px;
            }

            @media (max-width:375px) {
                aspect-ratio: 3 / 4;
            }
        }
    }
    &__info {
        @include adaptiveValue(padding-left, 73px, 24px, 1920px, 1440px);
        @include adaptiveValue(padding-right, 220px, 42px, 1920px, 1440px);
        @include adaptiveValue(padding-top, 100px, 24px, 1920px, 1660px);
        
        width: 50%;

        display: flex;
        flex-direction: column;
        gap: 48px;

        transition: .2s ease;

        @media (max-width:1660px) {
            gap: 24px;
        }
        @media (max-width:1279px) {
            width:100%;
            padding: 42px 32px;
            gap: 62px;
        }
        @media (max-width:990px) {
            width: 100%;
            padding: 42px 25px;

            gap: 42px;
        }
        @media (max-width:467px) {
            gap: 32px;
        }
        @media (max-width:375px) {
            aspect-ratio: 3 / 4;
        }


        .section__title {
            
            line-height: 133%;
            margin-bottom: 32px;
            @include adaptiveValue(font-size, 40px, 32px, 1440px, 375px);

            @media (max-width:1540px) {
                margin-bottom: 8px;
            }


            @media (min-width:991px) {
                max-width: 600px;
            }

            &-secondary {
                margin-bottom: 32px;

                @include adaptiveValue(font-size, 32px, 24px, 1440px, 375px);

                @media (max-width:1540px) {
                    margin-bottom: 12px;
                }
            }
        }
        ul {
            margin-bottom: 32px;

            padding-bottom: 12px;
            border-bottom: 1px solid #000;
            max-width: 600px;

            @media (max-width:1380px) {
                margin-bottom: 24px;
                margin-bottom: 8px;
            }
            @media (max-width:1380px) {
                
            }
            li {
                display: flex;
                align-items: center;
                gap: 14px;

                .text {
                    font-family: var(--font-family);
                    font-weight: 300;
                    @include adaptiveValue(font-size, 14px, 12px, 1440px, 375px);
                    line-height: 214%;
                    color: #000;

                    @media (max-width:1440px) {
                        line-height: 200%;
                    }
                }
            }
        }
    }
    &__price {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: #000;

        margin-bottom: 20px;
    }
}