section.media-banner-membership
    .container.media-banner-membership__container 
        .media-banner-membership__wrapper 
            h3 Proud members and supporters of
            p We’re proudly supporting organizations that play a vital role in the fertility and reproductive industry.
        .hero__badges 
            img(src="./img/Symbol Seeds 4.png", alt="")
            img(src="./img/Symbol asrm 4.png", alt="")
            img(src="./img/Symbol Heart 4.png", alt="")
            img(src="./img/Symbol resolve 4.png", alt="")