section.testimonials
    .testimonials__bg 
        img(src="./img/gentle-fingers-hands-newborn-baby-closeup.jpg", alt="")

    .container.testimonials__container 
        .testimonials__wrapper 
            h3.section__title-secondary We’ve helped 100’s of intended parents, just like you, both internationally and throughout the US, get the surrogacy experience they deserve

            .testimonials__slider-button-next
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.8183 11.75C6.40408 11.75 6.0683 12.0858 6.0683 12.5C6.0683 12.9142 6.40408 13.25 6.8183 13.25L6.8183 11.75ZM18.7123 13.0303C19.0052 12.7374 19.0052 12.2626 18.7123 11.9697L13.9393 7.1967C13.6464 6.90381 13.1715 6.90381 12.8786 7.1967C12.5857 7.48959 12.5857 7.96447 12.8786 8.25736L17.1213 12.5L12.8786 16.7426C12.5857 17.0355 12.5857 17.5104 12.8786 17.8033C13.1715 18.0962 13.6464 18.0962 13.9393 17.8033L18.7123 13.0303ZM6.8183 13.25L18.1819 13.25L18.1819 11.75L6.8183 11.75L6.8183 13.25Z" fill="white" fill-opacity="0.6" />
                        <circle cx="12.5" cy="12.5" r="11.2857" stroke="white" stroke-opacity="0.6" stroke-width="2.42857" />
                    </svg>
            .testimonials__slider-button-prev
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1817 13.25C18.5959 13.25 18.9317 12.9142 18.9317 12.5C18.9317 12.0858 18.5959 11.75 18.1817 11.75L18.1817 13.25ZM6.28774 11.9697C5.99484 12.2626 5.99484 12.7374 6.28773 13.0303L11.0607 17.8033C11.3536 18.0962 11.8285 18.0962 12.1214 17.8033C12.4143 17.5104 12.4143 17.0355 12.1214 16.7426L7.87873 12.5L12.1214 8.25736C12.4143 7.96447 12.4143 7.48959 12.1214 7.1967C11.8285 6.9038 11.3536 6.9038 11.0607 7.1967L6.28774 11.9697ZM18.1817 11.75L6.81806 11.75L6.81806 13.25L18.1817 13.25L18.1817 11.75Z" fill="white" fill-opacity="0.6" />
                        <circle cx="12.5" cy="12.5" r="11.2857" transform="rotate(-180 12.5 12.5)" stroke="white" stroke-opacity="0.6" stroke-width="2.42857" />
                    </svg>

            .testimonials__slider
               

                .swiper-wrapper 
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__stars
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="22" viewBox="0 0 110 22" fill="none">
                                    <path d="M10.2959 0.144165L12.9972 6.96067L19.8391 7.62679L14.6667 12.5057L16.1939 19.7339L10.2959 15.9328L4.39781 19.7339L5.92506 12.5057L0.752622 7.62679L7.59455 6.96067L10.2959 0.144165Z" fill="#EDBA2E"/>
                                    <path d="M54.7337 0.144348L57.435 6.96085L64.277 7.62697L59.1045 12.5059L60.6318 19.7341L54.7337 15.933L48.8357 19.7341L50.3629 12.5059L45.1905 7.62697L52.0324 6.96085L54.7337 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M32.5148 0.144348L35.2161 6.96085L42.058 7.62697L36.8856 12.5059L38.4128 19.7341L32.5148 15.933L26.6167 19.7341L28.144 12.5059L22.9716 7.62697L29.8135 6.96085L32.5148 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M76.9527 0.144348L79.654 6.96085L86.4959 7.62697L81.3235 12.5059L82.8507 19.7341L76.9527 15.933L71.0546 19.7341L72.5819 12.5059L67.4094 7.62697L74.2514 6.96085L76.9527 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M99.1716 0.144348L101.873 6.96085L108.715 7.62697L103.542 12.5059L105.07 19.7341L99.1716 15.933L93.2735 19.7341L94.8008 12.5059L89.6283 7.62697L96.4703 6.96085L99.1716 0.144348Z" fill="#EDBA2E"/>
                                </svg>
                            .testimonials-card__title Program designed for IPs

                            .testimonials-card__subtitle Having a dedicated team to help manage our entire surrogacy journey made all the difference.

                            .testimonials-card__author Laura and John
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__stars
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="22" viewBox="0 0 110 22" fill="none">
                                    <path d="M10.2959 0.144165L12.9972 6.96067L19.8391 7.62679L14.6667 12.5057L16.1939 19.7339L10.2959 15.9328L4.39781 19.7339L5.92506 12.5057L0.752622 7.62679L7.59455 6.96067L10.2959 0.144165Z" fill="#EDBA2E"/>
                                    <path d="M54.7337 0.144348L57.435 6.96085L64.277 7.62697L59.1045 12.5059L60.6318 19.7341L54.7337 15.933L48.8357 19.7341L50.3629 12.5059L45.1905 7.62697L52.0324 6.96085L54.7337 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M32.5148 0.144348L35.2161 6.96085L42.058 7.62697L36.8856 12.5059L38.4128 19.7341L32.5148 15.933L26.6167 19.7341L28.144 12.5059L22.9716 7.62697L29.8135 6.96085L32.5148 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M76.9527 0.144348L79.654 6.96085L86.4959 7.62697L81.3235 12.5059L82.8507 19.7341L76.9527 15.933L71.0546 19.7341L72.5819 12.5059L67.4094 7.62697L74.2514 6.96085L76.9527 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M99.1716 0.144348L101.873 6.96085L108.715 7.62697L103.542 12.5059L105.07 19.7341L99.1716 15.933L93.2735 19.7341L94.8008 12.5059L89.6283 7.62697L96.4703 6.96085L99.1716 0.144348Z" fill="#EDBA2E"/>
                                </svg>
                            .testimonials-card__title Program designed for IPs

                            .testimonials-card__subtitle Having a dedicated team to help manage our entire surrogacy journey made all the difference.

                            .testimonials-card__author Laura and John
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__stars
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="22" viewBox="0 0 110 22" fill="none">
                                    <path d="M10.2959 0.144165L12.9972 6.96067L19.8391 7.62679L14.6667 12.5057L16.1939 19.7339L10.2959 15.9328L4.39781 19.7339L5.92506 12.5057L0.752622 7.62679L7.59455 6.96067L10.2959 0.144165Z" fill="#EDBA2E"/>
                                    <path d="M54.7337 0.144348L57.435 6.96085L64.277 7.62697L59.1045 12.5059L60.6318 19.7341L54.7337 15.933L48.8357 19.7341L50.3629 12.5059L45.1905 7.62697L52.0324 6.96085L54.7337 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M32.5148 0.144348L35.2161 6.96085L42.058 7.62697L36.8856 12.5059L38.4128 19.7341L32.5148 15.933L26.6167 19.7341L28.144 12.5059L22.9716 7.62697L29.8135 6.96085L32.5148 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M76.9527 0.144348L79.654 6.96085L86.4959 7.62697L81.3235 12.5059L82.8507 19.7341L76.9527 15.933L71.0546 19.7341L72.5819 12.5059L67.4094 7.62697L74.2514 6.96085L76.9527 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M99.1716 0.144348L101.873 6.96085L108.715 7.62697L103.542 12.5059L105.07 19.7341L99.1716 15.933L93.2735 19.7341L94.8008 12.5059L89.6283 7.62697L96.4703 6.96085L99.1716 0.144348Z" fill="#EDBA2E"/>
                                </svg>
                            .testimonials-card__title Program designed for IPs

                            .testimonials-card__subtitle Having a dedicated team to help manage our entire surrogacy journey made all the difference.

                            .testimonials-card__author Laura and John
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__stars
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="22" viewBox="0 0 110 22" fill="none">
                                    <path d="M10.2959 0.144165L12.9972 6.96067L19.8391 7.62679L14.6667 12.5057L16.1939 19.7339L10.2959 15.9328L4.39781 19.7339L5.92506 12.5057L0.752622 7.62679L7.59455 6.96067L10.2959 0.144165Z" fill="#EDBA2E"/>
                                    <path d="M54.7337 0.144348L57.435 6.96085L64.277 7.62697L59.1045 12.5059L60.6318 19.7341L54.7337 15.933L48.8357 19.7341L50.3629 12.5059L45.1905 7.62697L52.0324 6.96085L54.7337 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M32.5148 0.144348L35.2161 6.96085L42.058 7.62697L36.8856 12.5059L38.4128 19.7341L32.5148 15.933L26.6167 19.7341L28.144 12.5059L22.9716 7.62697L29.8135 6.96085L32.5148 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M76.9527 0.144348L79.654 6.96085L86.4959 7.62697L81.3235 12.5059L82.8507 19.7341L76.9527 15.933L71.0546 19.7341L72.5819 12.5059L67.4094 7.62697L74.2514 6.96085L76.9527 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M99.1716 0.144348L101.873 6.96085L108.715 7.62697L103.542 12.5059L105.07 19.7341L99.1716 15.933L93.2735 19.7341L94.8008 12.5059L89.6283 7.62697L96.4703 6.96085L99.1716 0.144348Z" fill="#EDBA2E"/>
                                </svg>
                            .testimonials-card__title Program designed for IPs

                            .testimonials-card__subtitle Having a dedicated team to help manage our entire surrogacy journey made all the difference.

                            .testimonials-card__author Laura and John
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__stars
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="22" viewBox="0 0 110 22" fill="none">
                                    <path d="M10.2959 0.144165L12.9972 6.96067L19.8391 7.62679L14.6667 12.5057L16.1939 19.7339L10.2959 15.9328L4.39781 19.7339L5.92506 12.5057L0.752622 7.62679L7.59455 6.96067L10.2959 0.144165Z" fill="#EDBA2E"/>
                                    <path d="M54.7337 0.144348L57.435 6.96085L64.277 7.62697L59.1045 12.5059L60.6318 19.7341L54.7337 15.933L48.8357 19.7341L50.3629 12.5059L45.1905 7.62697L52.0324 6.96085L54.7337 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M32.5148 0.144348L35.2161 6.96085L42.058 7.62697L36.8856 12.5059L38.4128 19.7341L32.5148 15.933L26.6167 19.7341L28.144 12.5059L22.9716 7.62697L29.8135 6.96085L32.5148 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M76.9527 0.144348L79.654 6.96085L86.4959 7.62697L81.3235 12.5059L82.8507 19.7341L76.9527 15.933L71.0546 19.7341L72.5819 12.5059L67.4094 7.62697L74.2514 6.96085L76.9527 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M99.1716 0.144348L101.873 6.96085L108.715 7.62697L103.542 12.5059L105.07 19.7341L99.1716 15.933L93.2735 19.7341L94.8008 12.5059L89.6283 7.62697L96.4703 6.96085L99.1716 0.144348Z" fill="#EDBA2E"/>
                                </svg>
                            .testimonials-card__title Program designed for IPs

                            .testimonials-card__subtitle Having a dedicated team to help manage our entire surrogacy journey made all the difference.

                            .testimonials-card__author Laura and John
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__stars
                                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="22" viewBox="0 0 110 22" fill="none">
                                    <path d="M10.2959 0.144165L12.9972 6.96067L19.8391 7.62679L14.6667 12.5057L16.1939 19.7339L10.2959 15.9328L4.39781 19.7339L5.92506 12.5057L0.752622 7.62679L7.59455 6.96067L10.2959 0.144165Z" fill="#EDBA2E"/>
                                    <path d="M54.7337 0.144348L57.435 6.96085L64.277 7.62697L59.1045 12.5059L60.6318 19.7341L54.7337 15.933L48.8357 19.7341L50.3629 12.5059L45.1905 7.62697L52.0324 6.96085L54.7337 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M32.5148 0.144348L35.2161 6.96085L42.058 7.62697L36.8856 12.5059L38.4128 19.7341L32.5148 15.933L26.6167 19.7341L28.144 12.5059L22.9716 7.62697L29.8135 6.96085L32.5148 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M76.9527 0.144348L79.654 6.96085L86.4959 7.62697L81.3235 12.5059L82.8507 19.7341L76.9527 15.933L71.0546 19.7341L72.5819 12.5059L67.4094 7.62697L74.2514 6.96085L76.9527 0.144348Z" fill="#EDBA2E"/>
                                    <path d="M99.1716 0.144348L101.873 6.96085L108.715 7.62697L103.542 12.5059L105.07 19.7341L99.1716 15.933L93.2735 19.7341L94.8008 12.5059L89.6283 7.62697L96.4703 6.96085L99.1716 0.144348Z" fill="#EDBA2E"/>
                                </svg>
                            .testimonials-card__title Program designed for IPs

                            .testimonials-card__subtitle Having a dedicated team to help manage our entire surrogacy journey made all the difference.

                            .testimonials-card__author Laura and John
                            
                         
                            
